<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
        }

        header {
            background-color: #652c7c;
            color: white;
            padding: 10px;
            text-align: center;
            position: relative;
        }

        #header-icon {
            width: 230px;
            height: 100px;
            position: absolute;
            left: 20px;
            top: 50%;
            transform: translateY(-50%);
        }

        footer {
            background-color: 934caf;
            color: rgb(106, 18, 133);
            padding: 10px;
            text-align: center;
            position: fixed;
            bottom: 0;
            width: 100%;
        }

        .login-container {
            margin: 50px auto;
            max-width: 400px;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 8px;
            background-color: #d4b0e9;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        label {
            display: block;
            margin-bottom: 8px;
        }

        input {
            width: 100%;
            padding: 8px;
            margin-bottom: 16px;
            box-sizing: border-box;
        }

        button {
            background-color: #934caf;
            color: #fff;
            padding: 10px 15px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }
    </style>
</head>
<body>

    <header>
        <img src="https://github.com/geovanapro/blog_geo/blob/main/geo-removebg-preview.png?raw=true" alt="Icone" id="header-icon">
        <h1>Blog pessoal</h1>
    </header>

    <div class="login-container">
        <form action="/login" method="POST">
            <label for="username">Usuário:</label>
            <input type="text" id="username" name="username" required>

            <label for="password">Senha:</label>
            <input type="password" id="password" name="password" required>

            <button type="submit">Entrar</button>
        </form>
    </div>

    <footer>
        &copy; 2024 Blog pessoal da Geovana
    </footer>

</body>
</html>
